<%- include("partials/header.ejs") %>

<div class="maincontainer d-flex justify-content-center align-items-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Shhh! secrets</h1>
          <p class="lead">Dont keep your secrets to your self share with us secretly!!</p>
        </div>
      </div>
      <div class="button d-flex p-5">
        <a href="/login" ><button class="btn btn-dark m-3 px-4">Login</button></a>
        <a href="/register"><button class="btn btn-dark m-3">Register</button></a>

      </div>





</div>

<%- include("partials/footer.ejs") %>

