<%- include("partials/header.ejs") %>
<div class="container display-container d-flex justify-content-center align-items-center">
    <form action="/login" method="post" class="form">
    <h1>Login</h1>

        <input type="text" placeholder="enter email" name="email" class="form-control my-2 p-2">
        <input type="password" placeholder="enter password" name="password" class=" my-2 p-2 form-control">
        <button class="btn btn-dark" type="submit">Login</button>
        <a href="/register" class="btn btn-dark">Register</a>


    </form>
</div>

<%- include("partials/footer.ejs") %>