<%- include("partials/header.ejs") %>
<div class="container display-container d-flex justify-content-center align-items-center">
    <form action="/register" method="post" class="form">
    <h1>Register</h1>
    
        <!-- <input type="text" placeholder="enter name" name="name" class="form-control my-2 p-2"> -->
        <input type="text" placeholder="enter email" name="username" class=" my-2 p-2 form-control">
        <input type="password" id="pass" placeholder="enter password" name="password" class=" my-2 p-2 form-control">
        <button class="btn btn-dark" type="submit">register</button>
        <a href="/login" id="log" class="btn btn-dark">Login</a>


    </form>
</div>

<%- include("partials/footer.ejs") %>